<% include partials/header %>

<h1><%= post.name %></h1>
<div class="row">

    <div class="nine columns">
        
        <img src="<%= post.img %>" />
        <p>Posted By <a href="/users/<%= post.user.id %>"><%= post.user.username %></a>, <%= moment(post.createdAt).fromNow() %></p>
        <p><%= post.description %></p>
        <button id="fav" 
        <% if(currentUser){ %>
        onclick="addFavs()"
        <% } else {%>
        onclick="window.location.href='/login'"
        <% } %>
        ><i class="fa fa-star-o" aria-hidden="true"></i> --</button>
        <% if(currentUser && post.user.id.equals(currentUser._id)){ %>
            <div class="controls">
                
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <a href="/posts/<%= post._id %>/edit"><button type="button">Edit</button></a>
                    <button type="submit">Delete</button>
                </form>
            </div>
        <% } %>
        <h5 class="strong">Comments (<%= post.comments.length %>)</h5>
        <div class="comments">
            <% post.comments.forEach(function(comment){ %>
                <div class="comment">
                    <div>
                        <span class="strong"><%= comment.user.username %></span> 
                            <% if(currentUser && comment.user.id.equals(currentUser._id)){ %>
                                <div class="controls">
                                    <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit">
                                        <button type="button">Edit</button>
                                    </a>
                                    <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            <% } %>
                        
                        <span class="right"><%= moment(comment.createdAt).fromNow() %></span>
                    </div>
                    <p><%= comment.text %></p>
                </div>
            <% }) %>
        </div>
        <div>
            <% if(currentUser){ %>
                <div class="new-comment">
                    <form action="/posts/<%= post._id %>/comments" method="post">
                        <textarea name="comment[text]">Leave a comment...</textarea>
                        <button type="submit" >Submit</button>
                    </form>
                    <a href="<%= post._id %>/comments/new">>> Edit comment in new tab</a>
                </div>
            <% } else { %>
                <div class="new-comment">
                    <p>>> <a href="/login">Login</a> or <a href="/register">sign up</a> to leave a comment.</p>
                </div>
            <% } %>
        </div>
        <a href="/posts">>> All posts</a>
    </div>
    <div class="three columns">
        <div>
            <h6>Latest Posts</h6>
            <div id="latest"><i class="fa fa-spin fa-spinner" aria-hidden="true"></i></div>
        </div>
        <div>
            <h6>Trending</h6>
            <div id="carousel-wrap">   
                <a class="carousel-item" href="#"><img  src="http://wx4.sinaimg.cn/large/81a5c466gy1fovzv232w1j20j60ja0tg.jpg" /></a>
                <a class="carousel-item" href="#"><img class="carousel-item" src="http://wx4.sinaimg.cn/large/81a5c466gy1fovzv1qhmvj20g40g4dgg.jpg" /></a>
                <a class="carousel-item" href="#"><img class="carousel-item" src="http://wx1.sinaimg.cn/large/81a5c466gy1fovzv3feaoj20g40g4dgg.jpg" /></a>
                <a class="carousel-item" href="#"><img class="carousel-item" src="http://wx4.sinaimg.cn/large/81a5c466gy1fovzv1h1pwj20g40g4js1.jpg" /></a>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/carousel"></script>

<% include partials/footer %>

